<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="jquery.fittext.js"></script>
<script>
    jQuery("#responsive_headline").fitText();
    jQuery("#responsive_headline").fitText(1.2);
    jQuery("#responsive_headline").fitText(1.2, {minFontSize: '5px', maxFontSize: '40px'});

</script>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title><span >{{country.name}}</span></mat-card-title>
        <mat-card-subtitle style="overflow-x: auto;">

            <i class="material-icons" style="font-size: 15px">pin_drop</i> Capital : {{country.capital}}
        </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content style="display:flex;justify-content:center;align-items:center;">
        <img mat-card-image src="{{country.flag}}">

    </mat-card-content>
    <mat-card-content>
        <mat-list cols="1">
            <mat-list-item *ngIf="country.topLevelDomain.length!=0">
                <span >Top Level Domains: </span>
                {{country.topLevelDomain.join((', '))}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.alpha3Code!==''">
                <span >Alpha 2 Code: </span> {{country.alpha2Code}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.alpha2Code!==''">
                <span >Alpha 3 Code: </span> {{country.alpha3Code}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.callingCodes.length!=0">
                <span >Calling Codes: </span>
                {{country.callingCodes.join((', '))}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.altSpellings.length!=0">
                <span >Alternative Spellings: </span>
                {{country.altSpellings.join((', '))}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span >Region: </span> {{country.region}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span >Subregion : </span> {{country.subregion}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span >Population: </span> {{country.population}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span >Coordinates: </span>
                <span> Latitude: {{country.latlng[0]}},
          Longitude: {{country.latlng[1]}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span >Demonym: </span> {{country.demonym}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span >Area: </span> {{country.area}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.gini!=null">
                <span >Gini: </span> {{country.gini}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.altSpellings.length!=0">
                <span >Timezones: </span>
                {{country.altSpellings.join((', '))}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.borders.length!=0">
                <span >Borders: </span>
                {{country.borders.join((', '))}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="country.numericCode!=null">
                <span >Numeric Code: </span> {{country.numericCode}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <span >Currencies</span>
                </mat-list-item>
                <mat-list style="margin: 0 auto">
                    <div *ngFor="let item of country.currencies">
                        <mat-list-item>
                            <span *ngIf="item.code!=='(none)'">Code: </span>{{item.code != '(none)' ? item.code : '' }}
                            <span *ngIf="item.name!==null"> , Name:</span> {{item.name}}
                            <span *ngIf="item.symbol!==null"> , Symbol:</span> {{item.symbol}}
                        </mat-list-item>
                    </div>
                </mat-list>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <span>Languages</span>
                </mat-list-item>
                <mat-list>
                    <div *ngFor="let item of country.languages">
                        <mat-list-item fxLayout="50%">
                            <span *ngIf="item.iso639_1!==''"> Iso639_1: </span>{{item.iso639_1 != '' ? item.iso639_1 : '' }}
                            <span *ngIf="item.iso639_2!==''"> ,
                                Iso639_2: </span>{{item.iso639_2 != '' ? item.iso639_2 : '' }}
                            <span *ngIf="item.name!==null"> , Name: </span> {{item.name}}
                            <span *ngIf="item.nativeName!==null"> , Native Name: </span> {{item.nativeName}}
                        </mat-list-item>
                    </div>
                </mat-list>
            </mat-list>
            <mat-divider></mat-divider>
            <mat-accordion style="margin-left:-20px;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Translations</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list style="margin-left:30px;">
                        <mat-list-item> de: {{country.translations['de']}}</mat-list-item>
                        <mat-list-item> es: {{country.translations['es']}}</mat-list-item>
                        <mat-list-item> fr: {{country.translations['fr']}}</mat-list-item>
                        <mat-list-item> ja: {{country.translations['ja']}}</mat-list-item>
                        <mat-list-item> it: {{country.translations['it']}}</mat-list-item>
                        <mat-list-item> br: {{country.translations['br']}}</mat-list-item>
                        <mat-list-item> pt: {{country.translations['pt']}}</mat-list-item>
                        <mat-list-item> nl: {{country.translations['nl']}} </mat-list-item>
                        <mat-list-item> hr: {{country.translations['hr']}}</mat-list-item>
                        <mat-list-item> fa: {{country.translations['fa']}}</mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-divider *ngIf="country.regionalBlocs.length!=0"></mat-divider>
            <mat-accordion *ngIf="country.regionalBlocs.length!=0">
                <mat-expansion-panel style="margin-top: 15px">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Regional Blocs</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list style="margin-left:30px;">
                        <div *ngFor="let bloc of country.regionalBlocs">
                            <ul>
                                <li>Acronym: {{bloc.acronym != '' ? bloc.acronym : '' }}</li>
                                <li>Name: {{bloc.name}}</li>
                                <li *ngIf="bloc.otherAcronyms.length!==0">Other
                                    Acronyms: {{bloc.otherAcronyms.join(' ,')}}</li>
                                <li *ngIf="bloc.otherNames.length!==0">Other Names: {{bloc.otherNames.join(' ,')}}</li>
                            </ul>
                        </div>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-divider *ngIf="country.cioc!==''"></mat-divider>
            <mat-list-item *ngIf="country.cioc!==''">
                <span>Cioc: </span> {{country.cioc}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
