
mat-card img {
    object-fit: cover;
    width: 30%;
    height: 50%;
}

a.mat-menu-item > mat-icon {
    margin-bottom: 14px;
}

.mat-icon svg {
    height: 24px;
    width: 24px;
}

.mat-list-item-content {
    padding-left: 5px;
    padding-right: 5px;
}

.flex-child > h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}




h5 {
    font-size: 1.4em;
}
