<div class="container-fluid primary">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar class="second navbar navbar navbar-expand-xl">
    <mat-toolbar-row class="primary navbar">
        <img style="width: 18%" mat-card-avatar src="./../assets/logo.png" alt="">
        <a mat-button routerLink="/countries" onclick="hideImg()" routerLinkActive="active"
           style="width:100px;display: block;margin: auto; font-size: large">Countries</a>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

</div>