@import '~@angular/material/theming';

$custom-theme-primary: mat-palette($mat-blue);
$custom-theme-accent: mat-palette($mat-yellow);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
                $custom-theme-primary,
                $custom-theme-accent,
                $custom-theme-warn
);

